body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

.kotak {
    padding: 10px;
}

.container form{
    width: 500px;
    margin: 20px auto;
    top: 100px;
}

input, textarea{
    font-size: 20px;
    margin: 10px 0;
}

input[type=text]{
    width: 100%;
    padding: 5px 10px;
}

textarea{
    width: 100%;
    height: 150px;
    padding: 5px 10px;
}

.container form input[type=button] {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 50px;
    border-radius: 25px;
    margin-top: 20px;
}

.container form input[type=button]:hover {
    background-color: #05f;
    cursor: pointer;
}

.bluk {
    display: block;
}

.container{
    font-size: 20px;
    background-color: #aaa;
    margin: 0;
}

.main{
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    height: 100vh;
}
.thumbpost {
    width: 70%;
    margin: -30px auto 0;
}

.thumbpost > div {
    margin: 20px 0;
    background-color: #ddd;
    
    padding: 10px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 3px solid #000;
}

.username {
    font-size: 17px;
    font-weight: bold;
    color: #555;
}

.post {
    margin-top: 10px;
    font-size: 21px;
}